#include('./partial/header.html', {title: '分类查询'})
<div class="mid-col">
    <div class="mid-col-container">
        <article class="post post-archives">
            <h1 class="title">分类查询</h1>
            <div class="entry-content">
                #for(tagMap : tagMaps)
                <h3>${tagMap.type}</h3>
                <ul>
                    #for(tag : tagMap.tags)
                    <li>
                        <a href="${site_url()}/${tag.type}/${tag.name}" style="font-weight: bold">${tag.name}</a>&nbsp;&nbsp;&nbsp;&nbsp;该分类下包含博文 <span style="color: red">${tag.count}</span> 篇</li>
                    #end
                </ul>
                #end
            </div>
        </article>
    </div>

#include('./partial/footer.html')